@page
@model Rakendus.Pages.Party.ItemsPage
@using Rakendus.Pages.Extensions
@{
    Layout = "_Create";
}
<body>
            @Html.MyEditorFor(m => m.Item.ID)
            <partial name = "_EditPartial"/>
</body>