@page
@model LibaryDataBase.Pages.Readers.ReadersPage
@using Rakendus.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
      @Html.MyEditorFor(m => m.Reader.ID)
      <partial name= "_EditPartial" />
</body>
