@page
@model LibaryDataBase.Pages.Books.BooksPage
@using Rakendus.Pages.Extensions
@{
    Layout = "_Create";
}
<body>
             @Html.MyEditorFor(m => m.Book.IsbnID)
          <partial name = "_EditBook" />
             </body>